<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.network211.reporter"
        versionCode = "0.9.10"
        version     = "0.9.10"
        >
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    <gap:plugin name="com.phonegap.plugins.childbrowser" version="5.0.0" />
    <!-- versionCode is optional and Android only -->

    <name>Network211 Reporter</name>

    <description>
        This application allows users to obtain the latest statistics and information from Network211's Project100million.
    </description>

    <author href="http://app.network211.com" email="info@network211.com">
        Keith Sorbo
    </author>

    <content src="index.html"/>
    <access origin="*"/>
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="default" />
    <icon src="icon.png" width="600" height="383" />
</widget>